body{
    display: grid;
    grid-template-areas:
    'elemento1'
    'elemento2'
    'elemento3'
    'elemento4'
    'elemento5';
}

h1{
    grid-area: elemento1;
}

h2{
    grid-area: elemento2;
}

p{
    grid-area: elemento3;
}
h3{
    grid-area: elemento4;
}

img{
    grid-area: elemento5;
}

@media (min-width:600px){
    .topnav{
        grid-template-areas: 'nav1 nav2 nav3';
    }
    .content{
        grid-template-areas:
        'elemento1 elemento1 elemento1'
        'elemento2 elemento2 elemento2'
        'elemento3 elemento3 elemento3'
        'elemento4 elemento4 elemento4'
        'elemento5 elemento5 elemento5';
    }
}