ul {
    font-family: "EB Garamond", serif;
    font-family: "Roboto Mono", monospace;
    text-align: left;
    text-decoration-line: underline;
    font-style: oblique;
    font-size: 40%;
    text-indent: 4%;
    line-height : 35px;


}