/* importamos una fuente de google */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto+Mono:wght@300&display=swap');

ul {
    font-family: "EB Garamond", serif;
    font-family: "Roboto Mono", monospace;
    text-align: left;
    text-decoration-line: underline;
    font-style: oblique;
    font-size: 40%;
    text-indent: 4%;
    line-height : 35px;


}
/* line-trough sirve para tachar el texto*/
.strike {
    text-decoration-line: line-through;
}
/*.centerImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/
/*.tittleAlign{
    text-align: center
}*/
/*.borderCentered{
    border: 2px solid black;
    margin: 2%;
}*/
.tamaño{
    /* fuente de los productos*/
    font-family: "EB Garamond", serif;
    font-family: "Roboto Mono", monospace;
    text-decoration-line: underline overline;
    background-color: gray;
    font-style: italic;
    font-size: 90%;
}
p {
    text-shadow: 2px 2px 4px gray;
}
