h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px gray;
    color: #df8c26;
    background-color: grey;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 80%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #4d4d4d;
}
p{
    font-size: 130% ;
    color: #ffffff;
}

h2 {
    text-decoration-line: underline overline;
    background-color: gray;
    font-style: italic;
    color: #df8c26;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    height: auto;
    width: 35%;
}
/* todos los atributos hasta la clase .topnav son elementos de css establecidos en todas las páginas para el menú*/
.topnav {
    /*La barra del menú*/
  background-color: rgb(77, 74, 74);
  overflow: hidden;
}

.topnav a {
    /*color de los elementos del menú sin interactuar con ellos*/
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    /*color de los elementos del meú cuando se pasa el ratón por encima*/
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    /*color del boton home*/
  background-color: #df8c26;
  color: white;
}
/*la clase gradiente la usamos únicamente en la página about, con el propósito de poner un degradado de color como fondo*/
.gradiente{
  background-image: linear-gradient( #4d4d4d, #ecd9c6);
  background-attachment: fixed;
}
/* la clase .fotofondo solo se usa en el index, para estableecr una foto escogida previamente como fondo de pantalla, rellenando la totalidad de la oantalla*/
.fotofondo{
        background-image: url(https://previews.123rf.com/images/kwanchaichaiudom/kwanchaichaiudom1710/kwanchaichaiudom171000123/88914604-ingredientes-del-pan-y-de-la-panader%C3%ADa-en-el-fondo-de-madera-blanco-la-vista-superior-y-el-espacio-d.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        }
/*la clase txt align es una clase que usamos mucho a lo largo de los .html. su funcion es centrar el texto en la pantalla, creando un margen a sus lados*/
.txtAlign{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/* clase usada para la refelxión de una foto es un eje horizontal*/
.reflexion{
        -webkit-box-reflect: below;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
    display: block;
    opacity: 0.8;
         }
/*esta clase es usadad para aumentar la opacidead de los elementos del html*/
.opacidad{
    opacity: 65%;
}