h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px gray;
    color: #df8c26;
    background-color: grey;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 80%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #4d4d4d;
}
p{
    font-size: 130% ;
    color: #ffffff;
}

h2 {
    text-decoration-line: underline overline;
    background-color: gray;
    font-style: italic;
    color: #df8c26;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}



img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    height: auto;
    width: auto;
}

.topnav {
  background-color: rgb(77, 74, 74); 
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #df8c26;
  color: white;
}

.gradiente{
  background-image: linear-gradient( #4d4d4d, #ecd9c6);
  background-attachment: fixed;
}

.fotofondo{
        background-image: url(https://previews.123rf.com/images/kwanchaichaiudom/kwanchaichaiudom1710/kwanchaichaiudom171000123/88914604-ingredientes-del-pan-y-de-la-panader%C3%ADa-en-el-fondo-de-madera-blanco-la-vista-superior-y-el-espacio-d.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        }
.txtAlign{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.reflexion{
        -webkit-box-reflect: right;
         }
