
  
    #tabla table {
    overflow-x: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    outline-style: dotted;
    outline-color: black;
    outline-width: 4px;
    border-radius: 25px;
    }
    
    #tabla tr td th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    }
       

    #tabla th {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #df8c26;
    color: white;
    border-left: solid white;
    border-right: solid white;
    height: 100%;
    }
      #tabla2:hover td {background-color: gray;}
    
    #tabla td{
      padding-top: 2%;
      padding-bottom: 2%;
      text-align: center;
      background-color: #ddd;
      color: black;
      border-left: solid white;
      border-right: solid white;
      border-bottom:  solid black;
    }


 