

.topnav {
  overflow: hidden;
}

#tabla table {
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
}

#tabla td th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}



/* selector para la tabla de los trabajadores
los #david definen el estilo de las tablas inferiores del aboutUs, como los colores y juntarlas*/
#david table{
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
}
#david th {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center justify;
  background-color: #df8c26;
  color: white;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

}
#david td{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center justify;
  background-color: #ddd;
  color: black;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

  border-bottom:  solid black;
}
#video{
  display: block;
  margin:auto;
  max-width: 100%;
  height: auto;
}
/*A PARTIR DE AQUÍ SE DEFINE EL CSS PARA LA TABLA RESPONSIVE*/
/* en la ID tabla definimos todas sus caracteristicas, lineado, bordes.... */
#tabla table {
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
  outline-style: dotted;
  outline-color: black;
  outline-width: 4px;
  border-radius: 25px;
}
/* centramos el texto dentro de las tablas */
#tabla tr td th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

/* definimos los terminos th de la tabla, primera fila */
#tabla th {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #df8c26;
  color: white;
  border-left: solid white;
  border-right: solid white;
  height: 100%;
}
/* es el hover de la tabla */
#tabla2:hover td {background-color: gray;}
/* definimos los terminos td de la tabla, el resto de la tabla */
#tabla td{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #ddd;
  color: black;
  border-left: solid white;
  border-right: solid white;
  border-bottom:  solid black;
}


