h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px gray;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 80%;
    text-align: left;
}

h2 {
    text-decoration-line: underline overline;
    background-color: gray;
    font-style: italic;
}
a:hover{
    background-color: white;
}
a:link{
    background-color: red;
}
body {
    margin: 0;
    font-family: "Rubik", sans-serif;
  }
  

.topnav {
  background-color: rgb(77, 74, 74); 
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #df8c26;
  color: white;
}
